.bg-image{
    background-image: url(https://images2.alphacoders.com/120/1209425.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.btn:hover {
    background: whitesmoke;
}


.imgcover{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    animation: rotateCover 2s infinite linear both;
}

@keyframes rotateCover {
    0%{
        transform: rotateZ(0deg);
      
    }
    100%{
        transform: rotateZ(360deg);

    }
    
}

