
.bg-image {
    background-image: url(https://images2.alphacoders.com/120/1209425.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Sezione Cover */
.img-cover {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    animation: rotateCover 5s infinite linear both;
}


.btn:hover {
    background-color: whitesmoke;
}

.spin {
    animation: spin 5s infinite linear both;
  }
  
  @keyframes spin {
    0% { transform: rotateZ(0deg)}
    100% { transform: rotateZ(360deg)}
  }
  

/* Media Queries */

/* Tablet e Portatili 13" */
@media screen and (max-width: 1200px) {
    .img-cover {
        width: 300px;
        height: 300px;
    }
}

/* Mobile */
@media screen and (max-width: 500px) {
    .img-cover {
        width: 200px;
        height: 200px;
    }
}

  
  
  
  



  